{% extends 'base.html.j2' %}

{% block body_attribs %}class="text-center"{% endblock body_attribs %}

{% block app_content %}
  <form action="{{ url_for('auth.login') }}" method="post" class="form-signin" novalidate>
    {{ form.hidden_tag() }}

    <h1 class="mb-3">Please sign in</h1>

    {{ form.username.label(class_='sr-only')}}
    {{ form.username(placeholder='Username', id='inputUsername', class_='form-control') }}

    {{ form.password.label(class_='sr-only')}}
    {{ form.password(placeholder='Password', id='inputPassword', class_='form-control', autocomplete='off') }}

    <div class="checkbox mb-3">
      {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
    {{ form.submit(class_='btn btn-primary btn-block') }}
  </form>
{% endblock %}
