{% extends 'base.html.j2' %}

{% block app_content %}
<div class="container">
    <form action="" method="post" role="form" class="centered-form" novalidate>
      {{ form.hidden_tag() }}
      <h1 class="mb-3">Add user</h1>
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        There are errors in the fields below!
      </div>
      {% endif %}
      <div class="form-group">
        {{ form.first_name.label()}}
        {{ form.first_name(class_='form-control') }}
      </div>
      <div class="form-group">
        {{ form.last_name.label()}}
        {{ form.last_name(class_='form-control') }}
      </div>
      <div class="form-group">
        {{ form.birthdate.label()}}
        {{ form.birthdate(class_='form-control') }}
      </div>
      <div class="form-group">
        {{ form.email.label()}}
        {{ form.email(class_='form-control') }}
        {% if form.email.errors %}
        <ul class="list-unstyled text-danger">
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.grad_class.label()}}
        {{ form.grad_class(class_='form-control') }}
      </div>
      <div class="form-group">
        {{ form.account_type.label()}}
        {{ form.account_type(class_='form-control custom-select') }}
      </div>
      {{ form.submit(class_='btn btn-primary') }}
  </div>
</div>
{% endblock %}
