# Python specific files
*.py[cod]

# OS specific files
.DS_Store
Thumbs.db

# Static images
*.jpg
*.png

# Helper scripts
add136.py
makeqr.py

# Environment variables
*.env

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

venv
app.db
*.log*
