{% extends "base.html.j2" %}

{% block app_content %}
<div class="mx-auto mt-3" style="width:326px;">
  <h1>Oh snap!</h1>
  <h2>Something went wrong</h2>
  Sorry, the page you requested wasn't found.<br><br>
  <div class="text-left">
    <a href="{{ url_for('main.index') }}" class="btn btn-primary">
      Take Me Home
    </a>
  </div>
</div>
{% endblock %}
