body {
  padding-top: 60px;
  padding-bottom: 47px;
  -webkit-padding-after: 100px;
}

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .transaction {
    display: none;
  }
}

@media (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}
