/********/
/* Base */
/********/

body {
  padding-top: 60px;
  padding-bottom: 47px;
  -webkit-padding-after: 100px;
  background-color: #f5f5f5;
}

/* Make Bootstrap dropdowns scrollable */
.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden;
}

/* Remove dropdown carret */
.dropdown-toggle::after {
    display:none;
}

/* Firefox specific hack for table-responsive */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/*************************/
/* Material Design icons */
/*************************/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/**********************/
/*  User profile page */
/**********************/

.fadein {
  position:relative;
}
.fadein img {
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f2 {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-delay: -4s;
}

/****************/
/*  Search page */
/****************/

.user-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Switch between text or icon on checkout page buttons */
.user-card-btn .icon {
  display: inline-block;
}
.user-card-btn .text {
  display: none;
}

@media (min-width: 576px) {
  .quick-access-item .text {
    max-width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (min-width: 768px) {
  .quick-access-item .text {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (min-width: 992px) {
  .quick-access-item .text {
    max-width: 83px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1200px) {
  .quick-access-item .text {
    max-width: 127px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* @include media-breakpoint-up(sm) { */
@media (min-width: 576px) {
  .user-card-btn .icon {
    display: none;
  }
  .user-card-btn .text {
    display: inline-block;
  }
}

/*********/
/* Forms */
/*********/

.centered-form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

/***************/
/* Signin page */
/***************/

/* Sign in form */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 100px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
