<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Deposit
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownDeposit">
    <h6 class="dropdown-header">User gave deposit?</h6>
    <a class="dropdown-item" href="{{ url_for('main.deposit', username=user.username) }}">Yes</a>
    <a class="dropdown-item" href="#">No</a>
  </div>
</div>
