<div class="btn-group">
  <button type="button" class="btn btn-md btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="transaction">Deposit </span><span class="glyphicon glyphicon-ok"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li class="dropdown-header">User gave deposit?</li>
    <li><a href="{{ url_for('main.deposit', username=user.username) }}">Yes</a></li>
    <li><a href="#">No</a></li>
  </ul>
</div>
