<div class="btn-group">
  <button type="button" class="btn btn-primary btn-md dropdown-toggle {% if user.balance <= 0 %}disabled{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Pay <span class="glyphicon glyphicon-euro"></span>
  </button>

  <ul class="dropdown-menu dropdown-menu-index scrollable-menu">
    {% for item in inventory %}
    <li><a href="#">{{ item.name }} ({{ item.price }}€)</a></li>
    {% endfor %}
  </ul>
</div>
