<a class="user-card-btn quick-access-item btn {% if user.balance <= 0 %}btn-outline-danger{% elif user.balance <= 5 %}btn-outline-warning{% else %}btn-outline-primary{% endif %}{% if user.can_buy(quick_access_item) != True or not user.deposit %} disabled{% endif %}" href="{{ url_for('main.pay', username=user.username, item_name=quick_access_item.name) }}" role="button">
  <span class="icon" data-feather="zap"></span><span class="text">{{ quick_access_item.name }}</span>
</a>
