<div class="btn-group" role="group">
  <button class="user-card-btn btn {% if user.balance <= 0 %}btn-danger{% elif user.balance <= 5 %}btn-warning{% else %}btn-primary{% endif %} dropdown-toggle{% if not user.deposit %} disabled{% endif %}" type="button" id="dropdownTopUp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="icon" data-feather="credit-card"></span><span class="text">Top up</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownTopUp">
    <form class="mx-2" action="{{ url_for('main.top_up', username=user.username) }}" method="post">
      <div class="input-group">
        <label for="topUpAmount" class="sr-only">Top Up</label>
        <input class="form-control" type="number" name="amount" id="topUpAmount" step=0.01 min=0 name="amount" placeholder="Amount" aria-describedby="top-up-submit">
        <div class="input-group-append">
          <button class="btn btn-sm {% if user.balance <= 0 %}btn-danger{% elif user.balance <= 5 %}btn-warning{% else %}btn-primary{% endif %}" type="submit" id="top-up-submit" style="height:38px;"><i data-feather="check"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
