{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <script>
    // Change drop direction for dropdown menus
    function determineDropDirection(){
      $(".dropdown-menu-index").each( function(){
        $(this).css({
          visibility: "hidden",
          display: "block"
        });

        $(this).parent().removeClass("dropup");

        if ($(this).offset().top + $(this).outerHeight() > $(window).innerHeight() + $(window).scrollTop()){
          $(this).parent().addClass("dropup");
        }

        $(this).removeAttr("style");
      });
    }

    determineDropDirection();

    $(window).scroll(determineDropDirection);
    </script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - ESPCI Bar{% else %}Welcome to ESPCI Bar{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if current_user.is_barman %}
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-glass"></span> ESPCI Bar</a>
                {% elif current_user.is_anonymous %}
                <a class="navbar-brand" href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-glass"></span> ESPCI Bar</a>
                {% else %}
                <a class="navbar-brand" href="{{ url_for('main.user', username=current_user.username) }}"><span class="glyphicon glyphicon-glass"></span> ESPCI Bar</a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if current_user.is_barman %}
                    <li><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-credit-card"></span> Customers</a></li>
                    <li><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
                    <li><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-wrench"></span> Tools</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
