{% extends 'base.html.j2' %}

{% block app_content %}
    <div class="container">
        <form action="" method="post" role="form" class="centered-form" novalidate>
          {{ form.hidden_tag() }}
          <h1 class="mb-3">Global settings</h1>
          {% for entry in form.value %}
          <div class="form-group">
            {{ entry.label()}}
            {{ entry(placeholder=entry.key, id=entry.key, class_='form-control') }}
          </div>
          {% endfor %}
          {{ form.submit(class_='btn btn-primary') }}
      </div>
    </div>
{% endblock %}
