{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
      <div class="col-md-4">
        <h1>Global settings</h1>
        <form action="" method="post" role="form" novalidate>
          {{ form.hidden_tag() }}
          {% for entry in form.value %}
          {{ wtf.form_field(entry) }}
          {% endfor %}
          <input class="btn btn-default" id="submit" name="submit" type="submit"/>
        </form>
      </div>
    </div>
{% endblock %}
