{% extends 'base.html.j2' %}

{% block app_content %}
    <div class="container-fluid" align="center">
      {#% for user_row in users | batch(3, '&nbsp;') %#}
      <div class="row">
        {% for user in users %}
        <div class="col-lg-2 col-sm-3 col-xs-6">
            <span class="user_popup"><span hidden>{{ user.username }}</span hidden><img src="{{ user.avatar() }}"></span><br>
            <b>{{ user.username }}</b>
        </div>
        {% endfor %}
      </div>
      {#% endfor %#}
    </div>
    <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Previous page
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Next page <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
{% endblock %}
