{% extends 'base.html.j2' %}

{% block app_content %}

  <!-- User sorting -->
  <div class="well">
    <div class="btn-group">
      <a href="{{ url_for('main.index', sort='asc', grad_class=grad_class) }}" data-original-title="Sort By Alphabet" data-toggle="tolltip" type="button" class="btn btn-info"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
      <a href="{{ url_for('main.index', sort='desc', grad_class=grad_class) }}" data-original-title="Sort By Alphabet" data-toggle="tolltip" type="button" class="btn btn-info"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
    </div>
    <div class="btn-group">
    </div>

    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ grad_class }}{% if grad_class != 'Extern' %}<sup>th</sup> graduating class{% else %}Extern{% endif %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          {% for g in grad_classes %}
          <li><a href="{{ url_for('main.index', grad_class=g) }}">{{ g }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div style="margin-top:10px"></div>

    <div class="container-fluid">
      <div class="row">
        {% for user in users %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="caption">
            <div class="panel panel-info">

              <div class="panel-heading text-center">
                <a href="{{ url_for('main.user', username=user.username) }}">
                <span hidden>{{ user.username }}</span hidden>
                <img src="{{ user.avatar() }}" alt="{{ user.username }}" class="img-rounded">
                </a>
              </div>

              <div class="panel-body">
                <h4 class="panel-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{ user.first_name|capitalize }}<br>{{ user.last_name|upper }}</h4>
              </div>

              <div class="panel-footer">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pay <span class="glyphicon glyphicon-euro"></span>
                  </button>

                  <ul class="dropdown-menu dropdown-menu-index">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>

                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Top up <span class="glyphicon glyphicon-piggy-bank"></span>
                  </button>

                  <ul class="dropdown-menu dropdown-menu-index">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Previous page
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Next page <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
{% endblock %}
