{% extends "base.html.j2" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div class="users">
      <div class="row">
        {% for user in users %}
        <div class="col-sm">
          <a href="{{ url_for('user', username=user.username) }}"><img src="{{ user.avatar() }}">
          <b>{{ user.username }}</b></a
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
