{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

  <!-- User sorting -->
  <div class="well">
    <div class="btn-group">
      <a href="{{ url_for('main.inventory', sort='asc') }}" data-original-title="Sort by alphabet" type="button" class="btn btn-info {% if sort == 'asc' %}active{% endif %}"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
      <a href="{{ url_for('main.inventory', sort='desc') }}" data-original-title="Sort by alphabet" type="button" class="btn btn-info {% if sort == 'desc' %}active{% endif %}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
    </div>

    <div class="pull-right">
      <div class="btn-group">
        <a href="{{ url_for('main.add_item') }}" data-original-title="Add item" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add item</a>
      </div>
    </div>
  </div>

  <div style="margin-top:10px"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0" >
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Alcohol</th>
            <th class="col-lg-1 col-md-2 col-sm-2 col-xs-3">Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for item in inventory.items %}
          <tr {% if item.quantity <= 0 %}class="danger"{% endif %}>
            <td style="vertical-align: middle;">{{ item.name }}</td>
            <td style="vertical-align: middle;">{{ item.quantity }}</td>
            <td style="vertical-align: middle;">{{ item.price }} €</td>
            <td style="vertical-align: middle;">
              {% if item.is_alcohol %}
              <span class="glyphicon glyphicon-ok"></span>
              {% else %}
              <span class="glyphicon glyphicon-remove"></span>
              {% endif %}
            </td>
            <td>
              <a href="{{ url_for('main.edit_item', item_name=item.name) }}" data-original-title="Edit this item" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">Delete this item?</li>
                  <li><a href="{{ url_for('main.delete_item', item_name=item.name) }}">Yes</a></li>
                  <li><a href="#">No</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    <div class="pager">
      <div class="btn-group" role="group">
        {% for page in inventory.iter_pages() %}
        <a href="{{ url_for('main.inventory', page=page, sort=sort) }}" type="button" class="btn btn-default {% if not page %}disabled{% endif %}">
          {% if page %}
          {% if page != inventory.page %}
          {{ page }}
          {% else %}
          <strong>{{ page }}</strong>
          {% endif %}
          {% else %}
          <span class=ellipsis>…</span>
          {% endif %}
        </a>
        {% endfor %}
      </div>
    </div>
    </div>
{% endblock %}
