{% extends 'base.html.j2' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block app_content %}

  <!-- User sorting -->
  <!-- Padding to correct some weird grad_class dropdown menu bug -->
  <div class="well">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="btn-group">
            <a href="{{ url_for('main.search', q=g.search_form.q.data, sort='asc') }}" data-original-title="Sort By Alphabet" type="button" class="btn btn-info {% if sort == 'asc' %}active{% endif %}"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
            <a href="{{ url_for('main.search', q=g.search_form.q.data, sort='desc') }}" data-original-title="Sort By Alphabet" type="button" class="btn btn-info {% if sort == 'desc' %}active{% endif %}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
          <form class="form-search input-group pull-right" method="get" action="{{ url_for('main.search') }}">
            {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
            <span class="input-group-addon"><strong>#{{ total }}</strong></span>
          </form>
        </div>
      </div>
    </div>
  </div>

    <div class="container-fluid">
      <div class="row">
        {% for user in users.items %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="panel {% if not user.deposit %}panel-default{% elif user.balance <= 0 %}panel-danger{% elif user.balance <= 5 %}panel-warning{% else %}panel-info{% endif %}">
            <div class="panel-heading text-center">
              <a href="{{ url_for('main.user', username=user.username) }}">
                <span hidden>{{ user.username }}</span hidden>
                <img src="{{ user.avatar() }}" alt="{{ user.username }}" class="img-rounded img-responsive center-block">
              </a>
            </div>

            <div class="panel-body">
              <h4 class="panel-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                {% if user.nickname %}
                "{{ user.nickname }}"<br>{{ user.last_name|upper }}
                {% else %}
                {{ user.first_name|capitalize }}<br>{{ user.last_name|upper }}
                {% endif %}
              </h4>
            </div>

            <div class="panel-footer">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  {% include '_pay.html.j2' %}
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="pull-right">
                    {% include '_top_up.html.j2' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="pager">
      <div class="btn-group" role="group">
        {%- for page in users.iter_pages() %}
        <a href="{{ url_for('main.search', q=g.search_form.q.data, page=page) }}" type="button" class="btn {% if page == users.page %}btn-primary{% else %}btn-default{% endif %} {% if not page %}disabled{% endif %}">
          {% if page %}
          {% if page != users.page %}
          {{ page }}
          {% else %}
          <strong>{{ page }}</strong>
          {% endif %}
          {% else %}
          <span class=ellipsis>…</span>
          {% endif %}
        </a>
        {%- endfor %}
      </div>
    </div>
{% endblock %}
