{% extends 'base.html.j2' %}

{% block app_content %}
<!-- User sorting -->
<div class="container-fluid my-1">
  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="User sorting">
    <div class="btn-group" role="group" aria-label="Alphabet sorting">
      <a class="btn btn-outline-primary{% if sort == 'asc' %} active{% endif %}" href="{{ url_for('main.search', q=g.search_form.q.data, sort='asc') }}" data-original-title="Sort By Alphabet" role="button"><i class="material-icons align-middle">arrow_downward</i></a>
      <a class="btn btn-outline-primary{% if sort == 'desc' %} active{% endif %}" href="{{ url_for('main.search', q=g.search_form.q.data, sort='desc') }}" data-original-title="Sort By Alphabet" role="button"><i class="material-icons align-middle">arrow_upward</i></a>
    </div>
    <div class="btn-group" role="group" aria-label="Results">
      <button type="button" class="btn btn-primary">
        Results <span class="badge badge-light">{{ total }}</span>
      </button>
    </div>
  </div>
</div>

<div style="margin-top:10px"></div>

<div class="container">
  <div class="row">
    {% for user in users.items %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <div class="card mb-4 shadow {% if not user.deposit %}text-secondary border-secondary{% elif user.balance <= 0 %}text-danger border-danger{% elif user.balance <= 5 %}text-warning border-warning{% else %}text-primary border-primary{% endif %}">
        <a href="{{ url_for('main.user', username=user.username) }}">
          <img class="card-img-top img-fluid" src="{{ user.avatar() }}" alt="{{ user.username }}" style="height:100%;">
        </a>
        <div class="card-body">
          <h5 class="card-title text-nowrap user-card-title">
            {% if user.nickname %}
            "{{ user.nickname }}"<br>{{ user.last_name|upper }}
            {% else %}
            {{ user.first_name }}<br>{{ user.last_name|upper }}
            {% endif %}
          </h5>
        </div>
        <div class="card-footer">
          {% if user.deposit %}
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Pay and quick access item">
            <div class="btn-group" role="group" aria-label="Pay">
              {% include '_pay.html.j2' %}
            </div>
              <div class="btn-group" role="group" aria-label="Quick access item">
                {% include '_quick_access_item.html.j2' %}
              </div>
            </div>
            {% else %}
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Deposit">
              <div class="btn-group" role="group" aria-label="Deposit">
                {% include '_deposit.html.j2' %}
              </div>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {%- for page in users.iter_pages() %}
    <li class="page-item{% if page == users.page %} active{% endif %}{%if not page %} disabled{% endif %}">
      <a class="page-link" href="{{ url_for('main.search', q=g.search_form.q.data, page=page, sort=sort) }}">
        {% if page %}
        {{ page }}
        {% else %}
        <span class=ellipsis>…</span>
        {% endif %}
      </a>
      {%- endfor %}
    </li>
  </ul>
</nav>
{% endblock %}
