{% extends 'base.html.j2' %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>

<script>
// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = true;

Chart.scaleService.updateScaleDefaults('linear', {
  ticks: {
      autoSkip: false
  }
});

// define the chart data
var chartData = {
  labels : [
      {% for item in months_labels %}
        "{{ item }}",
      {% endfor %}
  ],
  datasets : [{
      label: 'Amount paid',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(55,123,181,0.4)",
      borderColor: "rgba(55,123,181,1)",
      borderWidth: 1,
      data : [
              {% for item in paid_per_month %}
                {{ item }},
              {% endfor %}
            ],
      spanGaps: false
  },
  {
      label: 'Amount topped up',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(215,84,82,0.4)",
      borderColor: "rgba(215,84,82,1)",
      borderWidth: 1,
      data : [
              {% for item in topped_per_month %}
                {{ item }},
              {% endfor %}
            ],
      spanGaps: false
  }]
}

// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'bar',
  data: chartData,
  options: {
        scales: {
            yAxes: [{
                ticks: {
                    // Include a euro sign in the ticks
                    callback: function(value, index, values) {
                        return '€' + value;
                    }
                }
            }]
        }
    }
});
</script>
{% endblock %}

{% block app_content %}
<div class="panel-group">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">
          Clients
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <ul class="list-group">
        <li class="list-group-item"><span class="badge">{{ nb_users }}</span> Total</li>
        <li class="list-group-item"><span class="badge">{{ nb_active_users }}</span><span class="glyphicon glyphicon-chevron-right"></span> Active</li>
        <li class="list-group-item"><span class="badge">{{ nb_users - nb_active_users }}</span><span class="glyphicon glyphicon-chevron-right"></span> Inactive</li>
        <li class="list-group-item"><span class="badge">{{ nb_bartenders }}</span><span class="glyphicon glyphicon-chevron-right"></span> Bartenders</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">
          Transactions
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
      <canvas id="myChart" width="600" height="400"></canvas>
    </div>
  </div>
</div>
{% endblock %}
