{% extends 'base.html.j2' %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar() }}"></td>
            <td>
                <h1>{% if user.is_barman %}Barman {% endif %}{{ user.first_name }} {{ user.last_name}}</h1>
                <p>Username: {{ user.username }}</p>
                <p>Graduating class: {{ user.grad_class }}</p>
                <p>Balance: {{ user.balance }} </p>
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
{% endblock %}
